.project-container {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    min-height: 100vh;
}

.project-container h1 {
    text-align: center;
    margin: 5px;
}

.projects-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}